# MT5 Connection Settings
MT5_LOGIN=278312
MT5_PASSWORD=XpS!TyH1
MT5_SERVER=EGlobalTrade-Demo
MT5_PATH=C:\Program Files\LiteFinance MT5 Terminal\terminal64.exe

# Timezone Configuration (Use tz database name to handle DST)
# Broker thường dùng giờ Đông Âu (EET/EEST)
MT5_TIMEZONE=Europe/Kyiv

# Trading Parameters (Optional for Core 1, but good for standardization)
MAGIC_NUMBER=9999
SYMBOL=XAUUSD
